h1 {
  margin-left: 20px;
}

.form {
  background-color: white;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  /* width: 200px; */
}
.form h3 {
  margin: 15px;
}
label {
  width: 200px;
}

.btn {
  width: 200px;
  margin-top: 10px;
}
textarea {
  /* width: 400px; */
  height: 150px;
}
input {
  width: 200px;
}
