ul {
  /* background-color: white;
  border: 1px solid #aaa; */
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
}
.list {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}
h3 {
  font-size: 1em;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

h4 {
  font-weight: 500;
  font-family: serif;
}

h5 {
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
